/*

Base03      #002b36
Base02      #073642
Base01      #586e75
Base00      #657b83
Base0       #839496
Base1       #93a1a1
Base2       #eee8d5
Base3       #fdf6e3
Yellow      #b58900
Orange      #cb4b16
Red         #dc322f
Magenta     #d33682
Violet      #6c71c4
Blue        #268bd2
Cyan        #2aa198
Green       #859900
*/

* {
    font-family: "JetBrains mono";
    color: #657b83;
}

html, body {
    background-color: #002b36;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-color {
    color: #cb4b16;
}

#social {
    opacity: 0%;
}

#social.show {
    transition: 500ms ease;
    opacity: 100%;
}

a {
    color: #2aa198;
}

.scroll-hint>img {
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    width: 30px;
}

.scroll-hint {
    opacity: 0;
    width: 30px;
    position: absolute;
    top: 80%;
}

.scroll-hint.show {
    transition: 1s ease;
    opacity: 1;
}

.content {
    padding: 0 20%;
}

@keyframes scroll {
    0% {
        opacity: 70%;
        height: 27px;
    }
    50% {
        opacity: 30%;
        height: 33px;
    }
    100% {
        opacity: 70%;
        height: 27px;
    }
}

.small-title {
    margin: 0.2em 0;
    color: #268bd2;
}

/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background-color: #8884;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #2aa198;
}

ul {
    list-style-type: disc;
}
::marker {
    color: #6c71c4;
}
.footer {
    margin-top: 100px;
    display: block;
    width: 100%;
    font-size: 11px;
    text-align: center;
    padding: 5px 0;
    background-color: #073642;   
}