@media (prefers-color-scheme: light) {
    :root {
        --background: #fafafa;
        --foreground: #6c7680;
        --black: #000000;
        --brightBlack: #686868;
        --blue: #3199e1;
        --brightBlue: #399ee6;
        --cyan: #46ba94;
        --brightCyan: #4cbf99;
        --green: #99bf4d;
        --brightGreen: #86b300;
        --purple: #9e75c7;
        --brightPurple: #a37acc;
        --red: #ea6c6d;
        --brightRed: #f07171;
        --yellow: #eca944;
        --brightYellow: #f2ae49;
        --white: #f2f2f2;
        --brightWhite: #cfcfcf;
    }
}

@media only screen and (prefers-color-scheme: dark) {
    :root {
        --background: #1f2430;
        --foreground: #cbccc6;

        --white: #191e2a;
        --brightWhite: #686868;
        --blue: #6dcbfa;
        --brightBlue: #73d0ff;
        --green: #a6cc70;
        --brightGreen: #bae67e;
        --cyan: #90e1c6;
        --brightCyan: #95e6cb;
        --purple: #cfbafa;
        --brightPurple: #d4bfff;
        --red: #ed8274;
        --brightRed: #f28779;
        --black: #c7c7c7;
        --brightBlack: #ffffff;
        --yellow: #fad07b;
        --brightYellow: #ffd580;
    }
}

.less {
    color: var(--brightWhite)
}

* {
    font-family: "Montserrat",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--foreground);
}

html,
body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

p {
    line-height: 1.5rem;
}

body:not(.js) .yesscript {
    display: none;
}

.hero {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin: .25rem 0;
}

.title-color {
    color: var(--blue);
}

.social {
    text-align: center;
    opacity: 0%;
    margin-bottom: .5rem;
}

.social.show,
body:not(.js) .social {
    transition: 500ms ease;
    opacity: 100%;
}

a {
    color: var(--yellow);
    text-decoration: none;
}

.scroll-hint>svg {
    animation: scroll 1.5s ease infinite;
    width: 30px;
    height: 30px;
    stroke: var(--foreground);
}

.scroll-hint {
    opacity: 0;
    width: 30px;
    position: absolute;
    top: 80%;
}

.js .scroll-hint {
    cursor: pointer;
}

.scroll-hint.show,
body:not(.js) .scroll-hint {
    transition: 1s ease;
    opacity: 1;
}

#content {
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
}

@keyframes scroll {
    0% {
        opacity: 30%;
        transform: scale(1, 1.5);
    }

    50% {
        opacity: 70%;
        transform: scale(1, 1);
    }

    100% {
        opacity: 30%;
        transform: scale(1, 1.5);
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(400px, 1fr));
    gap: .5rem;
    margin: 1rem 0;
}

.project {
    background-color: var(--white);
    border-radius: .5rem;
    padding: 1rem .5rem;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project:hover {
    /* border: 1px solid var(--cyan); */
    transition: .2s;
}

.project h3 {
    margin: 0 0 0 0;
    font-size: 1.5rem;
    color: var(--green);
}

.project p {
    margin: 0;
    flex: 1;

}

.project .links a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;

    color: var(--brightCyan);
    border: 1px solid var(--brightCyan);
    border-radius: .25rem;
    padding: .25rem;
    width: fit-content;

    transition: .15s ease-in-out all;
}


.project .links a svg {
    height: 1rem;
    width: 1rem;
    fill: var(--brightCyan);
    transition: .15s ease-in-out all;
}

.project .links a:hover {
    background-color: var(--brightCyan);
    color: black;
}

.project .links a:hover svg {
    fill: black;
}

.small-title {
    margin: 2rem 0 0 0;
    color: var(--red);
}

/* width */

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */

::-webkit-scrollbar-track {
    background-color: #8884;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--blue);
}

ul {
    list-style-type: disc;
}

::marker {
    color: var(--red);
}

.footer {
    margin-top: 100px;
    display: block;
    width: 100%;
    font-size: 11px;
    text-align: center;
    padding: 5px 0;
    background-color: var(--white);
}

.break {
    white-space: break-spaces;
}

.icon {
    fill: var(--brightPurple);
    width: 32px;
    height: 32px;
}

.tech-icon {
    width: 24px;
    height: 24px;
}

.social-text {
    display: block;
}

.social-text .icon {
    display: inline;
    vertical-align: middle;
    transform: scale(0.75);
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
}

.url-icon {
    fill: var(--cyan);
    width: 32px;
    height: 32px;
    transform: scale(0.75);
    display: inline;
}

.hscroll {
    position: relative;
}

.hscroll .shadow {
    position: absolute;
    width: 10px;
    top: 0;
    bottom: 0;
    z-index: 100;
    pointer-events: none;
    background: linear-gradient(90deg, var(--background), transparent);
}
.shadow.left {
    left: 0;
}
.shadow.right {
    right: 0;
    background: linear-gradient(270deg, var(--background), transparent);
}

.posts-container {
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px;    
}

.post {
    scroll-snap-align: center;
    position: relative;
    display:  flex;
    flex-direction: column;
    width: 300px;
    flex-shrink: 0;
    padding: 5px;
    border-radius: 5px;
}

.post:hover {
    background-color: var(--white);
}

.post h4 {
    font-size: 1.2rem;
    margin: 0.4rem 0.2rem ;
    color: var(--brightBlue);
}

.post img {
    width: 100%;
    aspect-ratio: 1.8;
    object-fit: cover;
}

.post p {
    height: 3rem;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

@supports (line-clamp: 2) {
    .post p {
        display: block;
        line-clamp: 2;
    }
}

.post span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}